<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="title">Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Mail</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Acceder</ion-button>
      </ion-col>
    </ion-row>
    <label>{{ errorHandling }}</label>
  </form>
  <!-- <div>
    <img src="assets/icon/Logo_OncoSalud_Grande.png" id="logo_inicio">
    <p>OncoSALUD</p>
  </div>
  <div id="container">
    <ion-item class="log">
      <ion-label position="floating">USUARIO</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item class="log">
      <ion-label position="floating">CONTRASEÑA</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-button type="submit" (click)="onLogin(email, password)" expand="block">
      Ingresar
    </ion-button>
  </div> -->
</ion-content>
