/** Font **/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,600&display=swap');

#title {
    font-family: 'Nunito', sans-serif; /** Carga de font - Lourdes **/
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
  
#container {
    position: absolute;
    margin-top: 10px;
    left: 15px;
    right: 15px;
    top: 68%;
    transform: translateY(-50%);
}
  
#log_button {
    font-family: 'Nunito', sans-serif; /** Carga de font - Lourdes **/
    align-items: center;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 22px;
}
  
#logo_inicio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

div p {
   font-family: 'Nunito', sans-serif; /** Carga de font - Lourdes **/
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.log {
  font-family: 'Nunito', sans-serif; /** Carga de font - Lourdes **/
  border-radius: 35px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
}
